$thickness: 0.525rem;

.ProgressBar {
    display: block;
    width: 100%;
    background: var(--white);

    padding: 0;
    margin: 0;
    border-radius: 1rem;

    &.top, &.bottom, &.left, &.right {
        position: absolute;
    }

    &.bottom {
        bottom: 0;
        left: 0;
        right: 0;
        height: $thickness;
    }

    &.top {
        top: 0;
        left: 0;
        right: 0;
        height: $thickness;
    }

    &.right {
        bottom: 0;
        top: 0;
        right: 0;
        width: $thickness;
        .progress{
            position: absolute;
            bottom: 0;
            left:0;
            right: 0;
        }
    }

    &.left {
        bottom: 0;
        top: 0;
        left: 0;
        width: $thickness;
        .progress{
            position: absolute;
            top: 0;
            left:0;
            right: 0;
        }
    }

    .progress {
        border-radius: 1rem;
        margin: 0;
        padding: 0;
        height: $thickness;
    }

    @for $i from 0 through 100 {
        $percent: $i * 1%;
        .progress-#{$i} {
            width: #{$percent};
        }
        .bottom,
        .top {
            &.progress-#{$i} {
                width: #{$percent};
            }
        }

        &.right,
        &.left {
            .progress-#{$i} {
                height: #{$percent};
            }
        }
    }
}
