//https://dev.to/afif/we-can-finally-animate-css-gradient-kdk
@use "sass:math";
:root {
    --circle-size: 350px;
    --loader-thickness: 10px;
    --inner-circle-offset: 0px;
}

.size-xs {
    --circle-size: 80px;
}
.thickness-xs {
    --loader-thickness: 4px;
}

.size-sm {
    --circle-size: 100px;
}
.thickness-sm {
    --loader-thickness: 8px;
}

.size-md {
    --circle-size: 300px;
}
.thickness-md {
    --loader-thickness: 14px;
}

.size-lg {
    --circle-size: 376px;
}
.thickness-lg {
    --loader-thickness: 18px;
}

.size-xl {
    --circle-size: 426px;
}
.thickness-xl {
    --loader-thickness: 25px;
}

.size-xxl {
    --circle-size: 500px;
}
.thickness-xxl {
    --loader-thickness: 30px;
}

.embedded {
    --inner-circle-offset: -1px;
}

.ProgressCircle {
    // outline: 10px solid black;
    margin: 0 auto;
    padding: 0;
    width: var(--circle-size);
    height: var(--circle-size);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .overlay {
        position: absolute;
        top: var(--inner-circle-offset);
        left: var(--inner-circle-offset);
        right: var(--inner-circle-offset);
        bottom: var(--inner-circle-offset);
        margin: 0;
        padding: 0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        $numberSteps: 10000;
        $percentDeg: math.div(360deg, $numberSteps);

        @for $i from 0 through $numberSteps {
            &.progress-#{$i} {
                $currentProgress: $percentDeg * $i;
                @if $i == 10000 {
                    background: conic-gradient(var(--primary-color) 0 #{$currentProgress});
                } @else {
                    background: conic-gradient(var(--primary-color) 0 #{$currentProgress}, rgba(224, 224, 224, 0) #{$currentProgress} 360deg);
                }
            }
        }

        .InnerCircle {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: #e0e0e0;
            border-radius: 50%;
            border: none;
            width: calc(var(--circle-size) - var(--loader-thickness));
            height: calc(var(--circle-size) - var(--loader-thickness));
        }
    }
}
